:root {
	--primary-color: #222831;
	--secondary-color: #393e46;
	--tertiary-color: #eeeeee;
	--sans-serif-font-family: "Roboto", Arial, Helvetica, sans-serif;
	--serif-font-family: "Roboto Slab", Georgia, Garamond, serif;
	--line-height: 1.4;
	--transition: 0.25s;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--serif-font-family);
}

p,
a {
	font-family: var(--sans-serif-font-family);
}

.header-image {
	width: 100%;
	height: auto;
}
